@import url(./estilos.css);
@import url(./seccionPlantas.css);
@import url(./responsive.css);

* {
  margin: 0%;
  box-sizing: border-box;
  padding: 0%;
}

body,
html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0%;
}

/* --estilo para el encabezado-- */
.header {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0.1em;
  margin: 2%;
  padding: 1%;
  border-radius: 2rem;
}

.header a img {
  grid-column: 1;
  position: relative;
  margin: auto;
  width: 100%;
}

.header h1 {
  grid-column: 2;
  grid-row: 1/2;
  text-align: center;
}

.header h1 cite {
  text-align: center;
}

/* -- esto es para el login -- */
.logo {
  grid-column: 4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  font-size: 1.2rem;
  padding: 0px;
  justify-content: center;
}
/* -- esto es para el formulario del login -- */
.container input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

/* modificacion de botones del login */
button {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  color: black;
}

button:hover {
  opacity: 0.8;
}

/* boton cancelar */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); */
  /* Fallback color */
  /* background-color: rgba(0,0,0,0.4); */
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.loginCarrito {
  visibility: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.logo:hover .loginCarrito {
  visibility: visible;
}

/* -- fondo de menu principal --   */
.fondo {
  background-image: url("/imagesMD/fondo.jpg");
  /* height: 10%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1%;
}

div#myTopnav.topnav * > button {
  font-size: 1.3rem;
}

/* -- form busqueda -- */

input.placeholder {
  width: 20rem;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1rem;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-top: 100px;
  margin-left: 50px;
}

.placeholder:focus {
  width: 50%;
}

.placeholder::placeholder {
  font-family: "Font Awesome 5 Free";
  font-weight: 100;
}

/* -- modificacion del nav -- */

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  display: inline;
  text-align: center;
  margin-left: 10%;
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 14px 16px;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.linea {
  border-top: 50px;
}
.contenedorImg {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contenedorImg .imagen {
  width: 30%;
  position: relative;
  height: auto;
}

.imagen {
  margin-bottom: 1%;
  margin-top: 1%;
}
.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 0%;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  border-radius: 50%;
}

.overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.imagen:hover .overlay {
  height: 100%;
  cursor: pointer;
}
div.contenedorImg {
  display: flex;
  width: auto;
}

/* -- footer-- */

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  font-size: 1rem;
  text-align: justify;
}
a {
  text-decoration: none;
}

.column1 {
  grid-column: 1/1;
  margin: 1rem;
}
.column2 {
  grid-column: 2/2;
  margin: 1rem;
}

.column3 {
  grid-column: 3/3;
  margin: 1rem;
}

/* --- otros --- */
